@charset "UTF-8";
.cell--table {
	width: 100%;
	table-layout: fixed;
}
.cell--table th {
	background-color: #319c4a;
	font-size: 18px;
	line-height: 26px;
	border: 1px solid #000000;
  padding: 10px;
}
.cell--table td {
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	border: 1px solid #000000;
  padding: 10px;
}
.cell--table tfoot {
  border-top: 1px double #ffffff;
}
.cell--table tr:nth-child(even) {
	background: #bcbcbc;
}
.cell--table tr:nth-child(odd) {
	background: #d5ffc7;
}